@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lexend Deca', sans-serif;
}

:root {
	/** ==================== Colors  ==================== */
	/* Background */
	--wrapper-bg-color: rgb(242, 242, 242);
	--theme-sedans-color: rgb(227, 136, 38);
	--theme-suvs-color: rgb(0, 105, 112);
	--theme-luxury-color: rgb(0, 66, 65);
	--button-bg-color: rgb(242, 242, 242);

	/* Font */
	--title-font-clor: rgb(242, 242, 242);
	--text-font-color: rgba(255, 255, 255, 0.75);
	--button-font-color--hover: rgb(242, 242, 242);

	/* Border */
	--button-border-color--hover: rgb(242, 242, 242);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.5rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 20px;
	background: var(--wrapper-bg-color);
}

.card {
	display: flex;
	max-width: 910px;
	border-radius: 10px;
	overflow: hidden;
}

.card__item {
	position: relative;
	padding: 50px 30px;
}

.card__item--theme-sedans {
	background: var(--theme-sedans-color);
}

.card__item--theme-suvs {
	background: var(--theme-suvs-color);
}

.card__item--theme-luxury {
	background: var(--theme-luxury-color);
}

.icon {
	width: 64px;
	height: 40px;
	margin-bottom: 30px;
}

.icon-sedans {
	background: url('./images/icon-sedans.svg') no-repeat;
}

.icon-suvs {
	background: url('./images/icon-suvs.svg') no-repeat;
}

.icon-luxury {
	background: url('./images/icon-luxury.svg') no-repeat;
}

.title {
	font-family: 'Big Shoulders Display', sans-serif;
	text-transform: uppercase;
	font-size: 4.3rem;
	color: var(--title-font-clor);
	margin-bottom: 30px;
}

.text {
	line-height: 2.7rem;
	color: var(--text-font-color);
	margin-bottom: 70px;
}

.button {
	padding: 16px 40px;
	border-radius: 30px;
	border: none;
	background-color: var(--button-bg-color);
	position: absolute;
	bottom: 40px;
	transition: all .3s ease;
}

.button:hover {
	cursor: pointer;
	border: 2px solid var(--button-border-color--hover);
	color: var(--button-font-color--hover);
}

.button--theme-sedans {
	color: var(--theme-sedans-color);
}

.button--theme-sedans:hover {
	background: var(--theme-sedans-color);
}

.button--theme-suvs {
	color: var(--theme-suvs-color);
}

.button--theme-suvs:hover {
	background: var(--theme-suvs-color);
}

.button--theme-luxury {
	color: var(--theme-luxury-color);
}

.button--theme-luxury:hover {
	background: var(--theme-luxury-color);
}

/** ==================== Media  ==================== */
/* tablets */
@media (max-width: 768px) {
	.wrapper {
		height: 100%;
	}

	.card {
		flex-wrap: wrap;
		max-width: 550px;
		height: 100%;
	}

	.card__item {
		flex: 0 1 100%;
		padding: 26px;
	}

	.button {
		bottom: 20px;
	}
}

/* mobile rotated (XL and L size)*/
@media (max-width: 920px) and (max-height: 450px) {
	html {
		font-size: 50%;
	}

	.card__item {
		padding: 20px;
	}

	.title {
		margin-bottom: 15px;
	}

	.button {
		bottom: 20px;
	}
}

/* mobile */
@media (max-width: 480px) {
	.wrapper {
		padding: 70px 20px;
	}

	.card__item {
		flex: 0 1 100%;
		padding: 50px;
	}

	.button {
		bottom: 50px;
	}
}